In [1]:
from __future__ import division
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./conjunto_de_datos/defun15.tar.gz')
df.head()

,defun15.CSV,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1.0,1.0,1.0,1.0,15.0,1.0,1.0,1.0,15.0,1.0,...,2015.0,NaN,2.0,2.0,88.0,88.0,888.0,8888.0,0.0,999.0
1,1.0,1.0,1.0,1.0,15.0,1.0,1.0,1.0,15.0,1.0,...,2015.0,NaN,9.0,1.0,88.0,88.0,888.0,8888.0,0.0,999.0
2,1.0,1.0,1.0,1.0,15.0,1.0,1.0,1.0,15.0,1.0,...,2015.0,NaN,9.0,1.0,88.0,88.0,888.0,8888.0,0.0,999.0
3,1.0,1.0,1.0,1.0,15.0,1.0,1.0,1.0,15.0,1.0,...,2015.0,NaN,2.0,1.0,88.0,88.0,888.0,8888.0,0.0,999.0
4,1.0,1.0,1.0,1.0,15.0,1.0,1.0,1.0,15.0,1.0,...,2015.0,NaN,2.0,2.0,88.0,88.0,888.0,8888.0,0.0,999.0

In [3]:
sorted(list(df.columns))

['anio_cert',
 'anio_nacim',
 'anio_ocur',
 'anio_regis',
 'area_ur',
 'asist_medi',
 'capitulo',
 'causa_def',
 'complicaro',
 'cond_act',
 'cond_cert',
 'defun15.CSV',
 'derechohab',
 'dia_cert',
 'dia_nacim',
 'dia_ocurr',
 'dia_regis',
 'dis_re_oax',
 'edad',
 'edad_agru',
 'edo_civil',
 'embarazo',
 'ent_ocules',
 'ent_ocurr',
 'ent_resid',
 'escolarida',
 'gr_lismex',
 'grupo',
 'horas',
 'lengua',
 'lista1',
 'lista_mex',
 'loc_ocules',
 'loc_ocurr',
 'loc_resid',
 'lugar_ocur',
 'maternas',
 'mes_cert',
 'mes_nacim',
 'mes_ocurr',
 'mes_regis',
 'minutos',
 'mun_ocules',
 'mun_ocurr',
 'mun_regis',
 'mun_resid',
 'nacionalid',
 'necropsia',
 'ocupacion',
 'ocurr_trab',
 'par_agre',
 'presunto',
 'razon_m',
 'rel_emba',
 'sexo',
 'sitio_ocur',
 'tloc_ocurr',
 'tloc_resid',
 'vio_fami']

In [4]:
df[df.lista_mex == "55"].head()

,defun15.CSV,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
173,1.0,1.0,1.0,6.0,1.0,7777.0,1.0,6.0,8.0,1.0,...,2015.0,NaN,2.0,1.0,99.0,88.0,888.0,8888.0,0.0,999.0
202,1.0,1.0,1.0,1.0,15.0,1.0,1.0,1.0,15.0,1.0,...,2015.0,NaN,2.0,1.0,99.0,88.0,888.0,8888.0,0.0,999.0
203,1.0,1.0,1.0,1.0,15.0,1.0,1.0,1.0,15.0,1.0,...,2015.0,NaN,9.0,1.0,99.0,88.0,888.0,8888.0,0.0,999.0
243,1.0,1.0,1.0,1.0,15.0,1.0,1.0,1.0,15.0,1.0,...,2015.0,NaN,2.0,2.0,6.0,88.0,888.0,8888.0,0.0,999.0
244,1.0,1.0,1.0,1.0,15.0,1.0,1.0,1.0,15.0,1.0,...,2015.0,NaN,2.0,2.0,99.0,88.0,888.0,8888.0,0.0,999.0

In [77]:
df1 = df[df.lista_mex == "55"][df.ent_ocurr == 8][[ 'anio_nacim','sexo']]
df1['TOTAL'] = 1
df1.head()

/home/alejandro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

       anio_nacim  sexo  TOTAL
77505      1958.0   1.0      1
77507      1999.0   1.0      1
77512      1993.0   1.0      1
77513      1982.0   1.0      1
77514      1992.0   1.0      1

In [78]:
df2 = df1.groupby(['anio_nacim','sexo'], sort=False).count().reset_index()

In [79]:
for i in range(126):
    df2.anio_nacim[i] = int(2015 - df2.anio_nacim[i])
    if df2.sexo[i] == 1:
        df2.sexo[i] = 'H'
    if df2.sexo[i] == 2:
        df2.sexo[i] = 'M'
M = df2[df2.sexo=='M']
H = df2[df2.sexo=='H']

/home/alejandro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/alejandro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/alejandro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [82]:
M.sort_values(['anio_nacim']).reset_index()[['anio_nacim','TOTAL']]

    anio_nacim  TOTAL
0      -7984.0     29
1          1.0      2
2          5.0      1
3          9.0      2
4         11.0      1
5         13.0      1
6         14.0      2
7         16.0      1
8         17.0      2
9         19.0      5
10        20.0      1
11        21.0      7
12        22.0      4
13        23.0      2
14        24.0      3
15        25.0      1
16        26.0      9
17        27.0      2
18        28.0      4
19        29.0      2
20        30.0      2
21        31.0      3
22        32.0      5
23        33.0      1
24        35.0      1
25        36.0      5
26        37.0      2
27        38.0      4
28        39.0      2
29        41.0      2
30        42.0      4
31        43.0      2
32        44.0      4
33        45.0      4
34        46.0      3
35        48.0      1
36        51.0      1
37        52.0      1
38        53.0      1
39        56.0      1
40        57.0      2
41        59.0      2
42        60.0      2
43        66.0      1
44        67.0      2
45        78.0      1
46        83.0      1
47        88.0      1